__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store

models/others

test_data/

data/others

ml_evaluation/GPT_clf_domains_eval.ipynb

data_generation/api_key.txt

data_analysis/other_analysis_tools

clf_domains/others

data_process/others

ml_evaluation/others

tools/others